<div class="line">
  <div class="box">
    <div class="wrapper">
      <div class="line">
          <span>        
            <input />
            <label>Character Name</label>
          </span>
          <span class="small">
            <input />
            <label>Sex</label>
          </span>
          <span>
            <input />
            <label>Defining Characteristics</label>
          </span>
          <span class="small">
            <input />
            <label>Weight</label>
          </span>
      </div>
      <div class="line">
        <span>
          <input />
          <label>Archetype</label>
        </span>
        <span class="medium">
          <input />
          <label>Race</label>
        </span>
        <span>
          <input />
          <label>Careers</label>
        </span>
        <span class="medium">
          <input />
          <label>Faith</label>
        </span>
        <span class="small">
          <input />
          <label>Height</label>
        </span>
      </div>
    </div>    
  </div>
</div>
<div class="line">
  <div class=box>
    <div class="avatar">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.nae}}"/>
    </div>
  </div>
</div>